body{
    margin: 0;                              /*убирает отступы от всех краев*/
    background-image: url(https://altanschool.s3.eu-central-1.amazonaws.com/learns/1697021662483_headerpic.jpg); /*изображение фона*/
    background-size: 100%;                  /*размер фона*/
    background-position-y: -50px;           /*изображение чуть поднято наверх*/
    background-attachment: fixed;           /*фиксация фона*/
}

header{
    height: 100%;               /*высота*/
    padding: 30px;          /*внутренний отступ*/
    text-align: right;      /*текст выровнени влево*/
    color: rgb(0, 0, 91); /*цвет текста*/
    font-size: 25px;        /*размер текста*/
}

h1{
    padding-top: 50px;  /*Дополнительный отступ заголовка*/
    font-size: 80px;    /*размер заголовка*/
    color:rgb(255, 255, 255);  /*цвет*/
}

main{
    height: 1000px;   /*высота основной части*/
    display: flex;
}

.block1{
    width: 500px;
    height: 100%;
    background: radial-gradient(circle, #ff0000, #fffb00);
    padding-left: 20px;
    font-family: 'Courier New';
    padding: 10px;
}

.block1 li{
    background-color: white;
    line-height: 2em;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 4em;
    width: 60%;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "✅";
}

.block1 li:hover{
    background: radial-gradient(#6803ff, #ff9800);
    color: white;
    list-style-type: "❌";
    width: 70%;
    height: 70px;
}

.block2{
    width: 500px;
    height: 100%;
     background-image: conic-gradient(at 60% 45%, rgb(146, 35, 97), yellow, rgb(15, 0, 128));
    font-family: 'Courier New';
    padding-left: 20px;
    padding: 10px;
}

.block2 li{
    background-color: white;
    line-height: 2em;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 4em;
    width: 60%;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "✅";
}

.block2 li:hover{
    background: linear-gradient( to left, green, blue);
    color: white;
    list-style-type: "❌";
    width: 70%;
    height: 70px;
}


.block3{
    width: 500px;
    height: 100%;
    background: conic-gradient(from 90deg, red, yellow, green); 
    font-family: 'Courier New';
    padding-left: 20px;
    padding: 10px;
}

.block3 li{
    background-color: white;
    line-height: 2em;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 4em;
    width: 60%;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "✅";
}

.block3 li:hover{
       background: radial-gradient(circle at top left, #0008ff, #ff7700);
    color: white;
    list-style-type: "❌";
    width: 70%;
    height: 70px;
}


.block4{
    width: 500px;
    height: 100%;
    background: radial-gradient(circle at top left, #0008ff, #ff7700);
    font-family: 'Courier New';
    padding-left: 20px;
    padding: 10px;
}

.block4 li{
    background-color: white;
    line-height: 2em;
    margin-top: 20px;
    padding-left: 10px;
    border-radius: 4em;
    width: 60%;
    height: 50px;
    list-style-type: circle;
    list-style-position: inside;
    list-style-type: "✅";
}

.block4 li:hover{
    background: conic-gradient(#1f1ccf, #ff9800);
    color: white;
    list-style-type: "❌";
    width: 70%;
    height: 70px;
}

footer{
    height: 100%;    /*высота*/
    text-align: left;  /*текст выровннен влево*/
    padding: 50px;   /*внутренний оступ*/
    color: white;  /*цвет текста*/
    font-size: 20px;  /*размер текста*/
}

.social{
    list-style: none; /*убирает маркеры*/
    display: flex; /*отображает в ряд*/
    align-items: left; /*выравнивает иконки по центру внутри каждого пункта*/
    justify-content: left; /*выравнивает все иконки по центру страницы*/
    margin: 0;
    padding: 0;
}

.social li {
    padding-left: 10px;
    padding-top: 20px;
}

.nav{
    position: sticky;
    top: 0;
    display: flex;
}

.nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 20px;
    border: 3px solid black;
    width: 50%;
    text-align: center;
    overflow: hidden;

}

.nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
    float: left;
}

.nav a:hover{
    background-color: antiquewhite;
    color: black;
}

input{
padding: 20px;   /*Внутренний отсуп сверху и снизу по 10, а по бокам 20*/
border: 0px;          /*Рамка */
font-size: 20px;      /*Размер текста*/
float: left;
}

input{
border: 1px;          /*Рамка */
font-size: 20px;      /*Размер текста*/
}

.search{
    width: 877px;
}

.img_button{
    height: 4em;
    position: relative;
    
}
.img_button:hover{
    cursor: pointer;
}